:root {
  position: relative;
  height: 100%;
  --font-size: 10px;
  --font-family: "Nanum SquareB", "맑은 고딕", "Apple SD Gothic Neo", sans-serif;
  --primary-blue: #6f6af8;
  --primary-green: #3ba55d;
  --primary-peach: #fc674e;
}
